* {
    margin: 0;
    padding: 0;
}

body {
    background: white;
}

.tagline {
    background-image: url('../img/bg.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: -300px;
    max-height: 500px;
    padding-top: 50px;
    padding-bottom: 200px;
    background-color: transparent;
}

.background-white {
    background-color: white;
    padding: 10px;
}

hr.style1 {
    border-top: 1px solid #8c8b8b;
}

span.style1 {
    color: rgb(99, 99, 100);
}

img.style1 {
    object-fit: cover;
    width: 200px;
    height: 200px;

}

.first-heading {
    height: 200px;

}

.foot {
    font-size: 12px;
}

.custom-border {
    border: 1px solid #cac7c7f3;
    padding: 10px;
    border-radius: 5px;
    background-color: #f2f2f2b7;
}

.align-right {
    float: right;
}

.custom-card {
    border: none; 
}

.custom-text {
    text-align: justify;
}

.porfolio-heading {
    height: 80px;
}

.contact-heading {
    height: 120px;
}

footer{
    margin-left: 80px;
}

