<div class="row m-3">
  <h1>Contact</h1>
  <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam fringilla vestibulum sapien,
    id hendrerit velit. In hac habitasse platea dictumst. Quisque eget augue nec arcu finibus fermentum.
    Vivamus aliquet, ex sed tincidunt sollicitudin, nunc ligula tincidunt velit, in vehicula libero purus non arcu."</p>
</div>
<div class="container mb-5">
  <div class="col-6 mx-auto">
    <form class="custom-border">
      <div class="row mb-2 ms-5">
        <label for="email" class="col-3 col-form-label text-right"><strong>Your E-mail</strong></label>
        <div class="col-9">
          <input type="email" class="form-control" id="email">
        </div>
      </div>
      <div class="row mb-2 ms-5">
        <label for="message" class="col-3 col-form-label text-right"><strong>Your message</strong></label>
        <div class="col-9">
          <textarea class="form-control" id="message" rows="4"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-right">
          <button type="submit" class="btn btn-primary align-right">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>