<div class="row p-4">

    <div class="col-1"></div>
    <div class="col-10">
        <hr class="style1">
    </div>
    <div class="col-1"></div>
</div>
<div class="row m-1 first-heading ">
    <div class="col-1 ">

    </div>

    <div class="col-8 ">
        <div>
            <h4>
                <p>
                    <strong>The First Heading</strong>
                    <span class="style1">Will Catch Your Eye</span>
                </p>
                </h1>
        </div>
        <div>
            <p>
                Donec ullamcorper nulla non metus autor fingilla. Vestibulum id ligula porta felis <br>
                euismod semper. Praesent commodo curus magna, vel scelerisque nils<br>
                consectetur. Fucse dapibus, tellus ac cursus commode.
            </p>
        </div>

    </div>
    <div class="col-2">
        <img class="rounded-circle style1" src="../website/assets/img/1.jpg">

    </div>
</div>
<div class="col-1">
    
</div>
</div>