<!-- your html code here -->
<div class="row p-4">
      
    <div class="col-1"></div>
    <div class="col-10 ">
        <hr class="style1">
        <div calss="porfolio">          
           <h4>
               Porfolio
           </h4>
           <p>
                Donec ullamcorper nulla non metus autor fingilla. Vestibulum id ligula porta felis
                euismod semper. Praesent commodo curus <br>magna, vel scelerisque nils
                consectetur. Fucse dapibus, tellus ac cursus commode.
           </p>
         </div> 
      
     </div>
     </div>
     
</div>


    <div class="row">
        <div class="col-1" ></div>
        <div class="col-md-10 badge-danger">
            <div class="card-group">
                <div class="card mt-3 mb-3" style="width: 10rem;">
                    <img src="../website/assets/img/big-project-image.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Project Name</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <a href="#" class="btn btn-primary">Ir a algún lugar</a>
                    </div>
                </div>
                <div class="card m-3 mt-3 mb-3" style="width: 10rem;">
                    <img src="../website/assets/img/big-project-image.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Project Name</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <a href="#" class="btn btn-primary">Ir a algún lugar</a>
                    </div>
                </div>
                <div class="card mt-3 mb-3" style="width: 10rem;">
                    <img src="../website/assets/img/big-project-image.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Project Name</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                             sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <a href="#" class="btn btn-primary">Ir a algún lugar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
  
</div>
 
</div>