<div class="container"> <!-- Contenedor para la primera sección -->
    <div class="row p-4 custom-space">
        <div class="col-12 col-sm-1"></div>
        <div class="col-12 col-sm-10">
            <hr class="style1">
        </div>
        <div class="col-12 col-sm-1"></div> <!-- Espacio vacío para separación en pantallas pequeñas -->
    </div> <!-- Cierre del primer grupo de columnas -->
    <div class="row m-1 first-heading custom-space">
        <!-- Fila para el segundo grupo de contenido con espacio personalizado -->
        <div class="col-12 col-sm-1"></div> <!-- Espacio vacío para separación en pantallas pequeñas -->
        <div class="col-12 col-sm-4">
            <div>
                <!-- Imagen redonda con estilo 1 y clase image-section-2 -->
                <img class="rounded-circle style1 image-section-2" src="../website/assets/img/2.jpg">
            </div>
        </div>
        <div class="col-12 col-sm-6">
            <div>
                <h4>
                    <p>
                        <strong>The Second Heading</strong>
                        <span class="style1">Is Pretty Cool Too.</span>
                    </p>
                </h4>
            </div>
            <div>
                <p>
                    Donec ullamcorper nulla non metus autor fingilla. Vestibulum id ligula porta felis euismod semper.
                    Praesent commodo curus magna, vel scelerisque nils consectetur. Fucse dapibus, tellus ac cursus
                    commode.
                </p>
            </div>
        </div>
        <div class="col-12 col-sm-1"></div> <!-- Espacio vacío para separación en pantallas pequeñas -->
    </div>
</div>